<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ word.word_text }}</title>
    {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'wordsbank/style.css' %}" />
</head>
<body>
<ul>
  <li><a href="{% url 'wordsbank:home' %}">Home</a></li>
  <li><a href="{% url 'wordsbank:WordsBank' %}">Words Bank</a></li>
     <li><a href="{% url 'wordsbank:upload' %}">Download / Upload</a></li>
  <ul style="float:right;list-style-type:none;">
    <li><a href="#about">About</a></li>
    <li><a href="admin">Admin</a></li>
  </ul>
</ul>

{% if error_message %}<p style="text-align: center; font-size:150%;"><strong>{{ error_message }}</strong></p>
{% else %}
<h1 style="text-indent: 1%">  {{ word.word_text }}</h1>

{% for detail in word.detail_set.all %}
<pre style="font-size:18px; text-indent: 1%;" ><b>Type:</b> {{ detail.type}} </pre>
<pre style="font-size:18px; text-indent: 1%;" ><b>Description:</b> {{ detail.description}} </pre>
<pre style="font-size:18px; text-indent: 1%;" ><b>Example:</b> {{ detail.example }}</pre>
{% endfor %}
{% endif %}
</body>
</html>