<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>


<style>
body {margin:0;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;

    width:50%;
    margin: auto;
    padding: 10px;

}

input[type=text], select {

}

input[type=submit] {
    width: 25%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.middle-save-bt{
    margin: 8px 37% -8px;
    }

.word-text{
    width: 100%;
    height: 25%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    }

.search {
        width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image:  url('images/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    }

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
}

textarea {
    width: 100%;
    height: 25%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}


select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: ;
}

</style>

</head>
<body>

<ul>
  <li><a class="active" href="{% url 'wordsbank:home' %}">Home</a></li>
  <li><a href="{% url 'wordsbank:WordsBank' %}">Words Bank</a></li>
    <li><a href="{% url 'wordsbank:upload' %}">Download / Upload</a></li>
  <ul style="float:right;list-style-type:none;">
    <li><a href="#about">About</a></li>
    <li><a href="admin">Admin</a></li>
  </ul>
</ul>
<br>
<br>
<br>
<br>
<br>
<br>

<div>
  <form action="{% url 'wordsbank:save_word' %}" method="post">
      {% csrf_token %}
      <pre style="text-align:center;font-size:30px;">Save Your Word</pre>
    <label for="word" ><b>Word</b></label><br><br>
    <input placeholder="Word" class="word-text" type="text" id="word" name="word">

    <br><br>
  <label for="type"><b>Type</b></label><br><br>
  <select id="type" name="type">
    <option value="Noun">Noun</option>
    <option value="Pronoun">Pronoun</option>
    <option value="Verb">Verb</option>
    <option value="Adjective">Adjective</option>
    <option value="Adverb">Adverb</option>
    <option value="Conjunction">Conjunction</option>
    <option value="Interjection">Interjection</option>
</select><br><br>

    <label for="description"><b>Description</b></label>
<br><br>
    <textarea placeholder="Type of word , meaning , etc." id="description" name="description"></textarea>


    <br><br>
    <label for="example"><b>Example</b></label>
    <br><br>
    <textarea placeholder="Write some example" id="example" name="example"></textarea>



    <input type="submit" class="middle-save-bt" value="Save">
  </form>
</div>

{% if error_message %}<p style="text-align: center; font-size:150%;"><strong>{{ error_message }}</strong></p>{% endif %}


</body>
</html>