<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload - Download</title>
    {% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'wordsbank/style.css' %}" />
</head>
<body>

<ul>
  <li><a href="{% url 'wordsbank:home' %}">Home</a></li>
  <li><a href="{% url 'wordsbank:WordsBank' %}">Words Bank</a></li>
     <li><a class="active" href="{% url 'wordsbank:upload' %}">Download / Upload</a></li>
  <ul style="float:right;list-style-type:none;">
    <li><a href="#about">About</a></li>
    <li><a href="admin">Admin</a></li>
  </ul>
</ul>


<h1>Upload word from CSV file</h1>
<form action="{% url 'wordsbank:upload_file' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
Open File:
<input type="file" name="csvfile" id="csvfile"><br><br>
<input type="submit" value="Upload CSV File" name="submit">

</form>

<br><br><br>
<p><b>Click on the download to download the csv file:<b/><p>

<a href="{% static 'wordsbank/word_bank.csv' %}" download>
  <img border="0" src="{% static 'wordsbank/images/Download-Button.png' %}" alt="wordsbank" width="20%" height="5%">
</a>

</body>


</html>