<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Words Bank</title>
</head>

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'wordsbank/style.css' %}" />

<style>
    table {
    font-size:19px;

    border-collapse: collapse;
    margin:auto;
    width: 99%;
}

 td,th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
th {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #4CAF50;
    color: white;
}
</style>

</head>
<body>

<ul>
  <li><a href="{% url 'wordsbank:home' %}">Home</a></li>
  <li><a class="active" href="{% url 'wordsbank:WordsBank' %}">Words Bank</a></li>
     <li><a href="{% url 'wordsbank:upload' %}">Download / Upload</a></li>
  <ul style="float:right;list-style-type:none;">
    <li><a href="#about">About</a></li>
    <li><a href="admin">Admin</a></li>
  </ul>
</ul>

<form action="{% url 'wordsbank:search' %}" method="POST">
    {% csrf_token %}
    <input placeholder="Search" class="search" type="text" id="search" name="search">

</form>

    <h1 style="text-align:center;" > Your Words Bank</h1>
    {% if latest_word_list %}




        <table id="t01">



        <tr>
            <th>Word</th>
            <th>Type</th>
            <th>Description</th>
            <th>Example</th>
         </tr>
         {% for word in latest_word_list %}
         {% for detail in word.detail_set.all %}
            {% if word.detail_set.all %}
        <tr>    {% if forloop.first %}
                <td>{{word.word_text}}</td>
                {% else %}
                <td> </td>
                {% endif %}
                <td>{{ detail.type}} </td>
                <td>{{ detail.description}} </td>
                <td> {{ detail.example}} </td>
            {% else %}
                No details.
            {% endif %}

        </tr>
        {% endfor %}
        {% endfor %}

            </table><br>



<center>Click save then you can download file form Download/Upload menu. </center>
<form action="{% url 'wordsbank:download_file' %}" method="post">
    {% csrf_token %}
<input type="submit" class="middle-save-bt" value="Save">
<br><br>
</form>

<center> Delete all words click here </center>
<form action="{% url 'wordsbank:delete_all' %}" method="post">
    {% csrf_token %}
<input type="submit" class="middle-save-bt" value="Delete">

</form>



    {% else %}
       <center> <p>No Words are available.</p></center>
    {% endif %}




</body>
</html>